<mtapp:setting
    id="fiscal_start_month"
    label="<__trans phrase="Fiscal Start Month">"
    hint="<__trans phrase="Specify the start month of the fiscal year.">">
    <select name="fiscal_start_month" id="fiscal_start_month">
        <option value="1" <TMPL_IF NAME=FISCAL_START_MONTH_1>selected="selected"</TMPL_IF>><MT_TRANS phrase="FISCAL_MONTH-1"></option>
        <option value="2" <TMPL_IF NAME=FISCAL_START_MONTH_2>selected="selected"</TMPL_IF>><MT_TRANS phrase="FISCAL_MONTH-2"></option>
        <option value="3" <TMPL_IF NAME=FISCAL_START_MONTH_3>selected="selected"</TMPL_IF>><MT_TRANS phrase="FISCAL_MONTH-3"></option>
        <option value="4" <TMPL_IF NAME=FISCAL_START_MONTH_4>selected="selected"</TMPL_IF>><MT_TRANS phrase="FISCAL_MONTH-4"></option>
        <option value="5" <TMPL_IF NAME=FISCAL_START_MONTH_5>selected="selected"</TMPL_IF>><MT_TRANS phrase="FISCAL_MONTH-5"></option>
        <option value="6" <TMPL_IF NAME=FISCAL_START_MONTH_6>selected="selected"</TMPL_IF>><MT_TRANS phrase="FISCAL_MONTH-6"></option>
        <option value="7" <TMPL_IF NAME=FISCAL_START_MONTH_7>selected="selected"</TMPL_IF>><MT_TRANS phrase="FISCAL_MONTH-7"></option>
        <option value="8" <TMPL_IF NAME=FISCAL_START_MONTH_8>selected="selected"</TMPL_IF>><MT_TRANS phrase="FISCAL_MONTH-8"></option>
        <option value="9" <TMPL_IF NAME=FISCAL_START_MONTH_9>selected="selected"</TMPL_IF>><MT_TRANS phrase="FISCAL_MONTH-9"></option>
        <option value="10" <TMPL_IF NAME=FISCAL_START_MONTH_10>selected="selected"</TMPL_IF>><MT_TRANS phrase="FISCAL_MONTH-10"></option>
        <option value="11" <TMPL_IF NAME=FISCAL_START_MONTH_11>selected="selected"</TMPL_IF>><MT_TRANS phrase="FISCAL_MONTH-11"></option>
        <option value="12" <TMPL_IF NAME=FISCAL_START_MONTH_12>selected="selected"</TMPL_IF>><MT_TRANS phrase="FISCAL_MONTH-12"></option>
    </select>
</mtapp:setting>
